<%= form_with model: @role do |f| %>
  <div class="edit-role-field">
    <label for="role_role_name">Имя:</label>
    <%= f.text_field :role_name, require: true, id: 'role_role_name'%>
  </div>
<%= end %>